<h1>Editing product</h1>

<% form_for(@product) do |f| %>
  <%= f.error_messages %>

   <p>
    <%= f.label :image_url, "Image url(required field)"%><br />
    <%= f.text_field :image_url, :size => 32 %>
  </p>
  
  <p>
    <%= f.label :title, "Title of the book(required field)" %><br />
    <%= f.text_field :title, :size => 32 %>
  </p>
 
 <p>
    <%= f.label :description, "Description of the book(required field)" %><br />
    <%= f.text_area :description, :size => "37x25" %>
  </p>
  
  <p>
    <%= f.label :price, "Price(required field)" %><br />
    <%= f.text_field :price, :size => 32 %>
  </p>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back to products page', products_path %>
